In [6]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('benin-malanville.csv')
df.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [13]:
df.shape

(525600, 19)

In [7]:
df.isnull().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [9]:
df.duplicated().sum()

0

In [17]:
df1 =  df[df['GHI']>0]
df1.shape

(266390, 19)

In [21]:
df2 =  df1[df1['DNI']>0]
df2.shape

(243068, 19)

In [22]:
df3 =  df2[df2['DHI']>0]
df3.shape

(243062, 19)

In [23]:
df3.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,243062.000000,243062.000000,243062.000000,243062.000000,243062.000000,243062.000000,243062.000000,243062.000000,243062.000000,243062.000000,243062.000000,243062.000000,243062.000000,243062.000000,243062.000000,243062.000000,243062.000000,0.0
mean,520.693187,362.077131,250.508777,508.874273,492.272095,31.360798,44.994491,2.812171,3.735319,0.588938,160.396042,11.988136,994.113572,0.001979,0.000516,47.710092,42.476998,NaN
std,301.435252,278.301166,142.198416,304.822995,295.595402,5.428394,26.715292,1.534224,1.889419,0.248478,95.485100,6.246090,2.634485,0.044441,0.025398,12.318939,10.475104,NaN
min,0.300000,0.100000,0.300000,0.200000,0.200000,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.000000,0.000000,0.000000,9.600000,8.400000,NaN
25%,250.900000,72.200000,144.800000,230.300000,222.900000,27.900000,18.600000,1.700000,2.400000,0.400000,76.500000,8.600000,992.000000,0.000000,0.000000,39.200000,35.300000,NaN
50%,529.100000,360.900000,230.300000,511.400000,494.000000,31.600000,43.900000,2.700000,3.600000,0.600000,160.800000,11.500000,994.000000,0.000000,0.000000,48.200000,42.600000,NaN
75%,793.600000,608.800000,338.700000,790.200000,761.200000,35.500000,67.400000,3.800000,4.900000,0.700000,241.000000,14.800000,996.000000,0.000000,0.000000,56.700000,49.700000,NaN
max,1413.000000,952.300000,759.200000,1342.300000,1342.300000,43.800000,100.000000,16.000000,22.300000,3.400000,360.000000,99.400000,1003.000000,1.000000,2.400000,81.000000,72.500000,NaN

In [35]:

# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df3['ModA'].quantile(0.25)
Q3 = df3['ModA'].quantile(0.75)
IQR = Q3 - Q1

# Identify outliers
outliers = df3[(df3['ModA'] < Q1 - 1.5 * IQR) | (df3['ModA'] > Q3 + 1.5 * IQR)]
print(outliers) # the result show empty data frame means that there is no outliers

Empty DataFrame
Columns: [Timestamp, GHI, DNI, DHI, ModA, ModB, Tamb, RH, WS, WSgust, WSstdev, WD, WDstdev, BP, Cleaning, Precipitation, TModA, TModB, Comments]
Index: []

In [36]:
Q1 = df3['ModB'].quantile(0.25)
Q3 = df3['ModB'].quantile(0.75)
IQR = Q3 - Q1

# Identify outliers
outliers = df3[(df3['ModB'] < Q1 - 1.5 * IQR) | (df3['ModB'] > Q3 + 1.5 * IQR)]
print(outliers) # the result show empty data frame means that there is no outliers

Empty DataFrame
Columns: [Timestamp, GHI, DNI, DHI, ModA, ModB, Tamb, RH, WS, WSgust, WSstdev, WD, WDstdev, BP, Cleaning, Precipitation, TModA, TModB, Comments]
Index: []

In [45]:
Q1 = df3['WS'].quantile(0.25)
Q3 = df3['WS'].quantile(0.75)
IQR = Q3 - Q1

# Identify outliers
outliers = df3[(df3['WS'] < Q1 - 1.5 * IQR) | (df3['WS'] > Q3 + 1.5 * IQR)]
print(outliers) # the result show there  is an outliers so we drop it

               Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH    WS  WSgust  \
13928   2021-08-18 16:09  1.3  0.5  1.4   5.0   5.0  25.5  89.7   7.2     8.7
13929   2021-08-18 16:10  1.7  0.8  1.7   4.8   4.7  25.1  91.4   7.8     9.4
13930   2021-08-18 16:11  2.4  1.1  2.1   4.6   4.6  24.8  93.3   8.0     9.7
13931   2021-08-18 16:12  2.5  0.9  2.1   4.3   4.3  24.6  94.4  10.9    12.5
13932   2021-08-18 16:13  2.7  0.9  2.3   4.2   4.1  24.3  95.1  11.7    13.0
...                  ...  ...  ...  ...   ...   ...   ...   ...   ...     ...
525099  2022-08-08 15:40  9.4  0.1  9.3  10.0   9.8  21.6  98.1   7.9    10.2
525100  2022-08-08 15:41  9.4  0.1  9.3   9.9   9.8  21.6  98.2   8.5    11.5
525101  2022-08-08 15:42  9.2  0.1  9.1   9.7   9.5  21.5  98.2   8.7    11.0
525102  2022-08-08 15:43  9.1  0.1  8.9   9.5   9.3  21.5  98.3   7.8     9.9
525103  2022-08-08 15:44  9.0  0.2  8.9   9.3   9.2  21.5  98.4   7.8    10.2

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
13928       1.0  179.3     11.1  995         0            1.4   25.6   25.2
13929       0.8  180.2      8.5  995         0            1.8   25.3   24.9
13930       1.1  171.6      9.3  995         0            2.0   25.1   24.7
13931       1.0  167.5      6.7  995         0            2.4   25.0   24.6
13932       1.0  172.0      5.6  995         0            2.3   24.9   24.5
...         ...    ...      ...  ...       ...            ...    ...    ...
525099      1.0  110.2      8.8  996         0            0.8   22.4   21.6
525100      1.4  107.2     12.7  996         0            0.6   22.4   21.6
525101      1.3  104.2      8.9  996         0            0.6   22.3   21.6
525102      1.5  108.0     11.5  996         0            0.5   22.3   21.6
525103      1.2  113.5      9.9  996         0            0.5   22.3   21.6

        Comments
13928        NaN
13929        NaN
13930        NaN
13931        NaN
13932        NaN
...          ...
525099       NaN
525100       NaN
525101       NaN
525102       NaN
525103       NaN

[1245 rows x 19 columns]

In [47]:

# Determine the bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Drop outliers
df3_cleaned = df3[(df['WS'] >= lower_bound) & (df3['WS'] <= upper_bound)]

# Verify the result
print(df3_cleaned)

               Timestamp   GHI  DNI   DHI  ModA  ModB  Tamb    RH   WS  \
414     2021-08-09 06:55  18.2  0.1  18.0  17.4  17.6  24.2  98.8  0.0
415     2021-08-09 06:56  19.7  0.3  19.5  18.7  18.9  24.2  98.8  0.0
416     2021-08-09 06:57  21.1  0.6  20.9  19.9  20.1  24.2  98.9  0.0
417     2021-08-09 06:58  22.5  1.1  22.2  21.1  21.3  24.2  98.9  0.0
418     2021-08-09 06:59  23.9  1.9  23.5  22.2  22.4  24.2  98.9  0.0
...                  ...   ...  ...   ...   ...   ...   ...   ...  ...
525135  2022-08-08 16:16   5.3  0.1   5.3   6.6   6.5  22.0  99.1  4.6
525142  2022-08-08 16:23   4.6  0.2   4.6   5.9   5.8  21.9  99.0  6.5
525144  2022-08-08 16:25   4.4  0.1   4.4   5.7   5.6  21.9  99.0  6.9
525152  2022-08-08 16:33   4.8  0.1   4.9   6.0   5.9  22.0  99.1  6.3
525166  2022-08-08 16:47   4.7  0.1   4.7   5.7   5.5  22.2  99.2  5.2

        WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  \
414        0.0      0.0    0.0      0.0  997         0            0.0   24.3
415        0.0      0.0    0.0      0.0  997         0            0.0   24.3
416        0.0      0.0    0.0      0.0  997         0            0.0   24.4
417        0.0      0.0    0.0      0.0  997         0            0.0   24.5
418        0.0      0.0    0.0      0.0  997         0            0.0   24.5
...        ...      ...    ...      ...  ...       ...            ...    ...
525135     5.9      0.8  129.8     15.0  995         0            0.2   22.8
525142     9.2      1.2  126.3     12.3  995         0            0.2   22.8
525144     8.2      0.9  137.2      6.5  995         0            0.1   22.7
525152     8.2      1.0  152.1     10.0  995         0            0.1   22.7
525166     5.9      0.5  147.7      9.0  994         0            0.0   22.9

        TModB  Comments
414      23.8       NaN
415      23.9       NaN
416      23.9       NaN
417      24.0       NaN
418      24.0       NaN
...       ...       ...
525135   22.1       NaN
525142   22.0       NaN
525144   22.0       NaN
525152   22.0       NaN
525166   22.2       NaN

[241817 rows x 19 columns]

C:\Users\Yibabe\AppData\Local\Temp\ipykernel_4100\1408930848.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3_cleaned = df3[(df['WS'] >= lower_bound) & (df3['WS'] <= upper_bound)]

In [49]:
Q11 = df3_cleaned['WSgust'].quantile(0.25)
Q33 = df3_cleaned['WSgust'].quantile(0.75)
IQR = Q33 - Q11

# Identify outliers
outliers = df3_cleaned[(df3_cleaned['WSgust'] < Q11 - 1.5 * IQR) | (df3_cleaned['WSgust'] > Q33 + 1.5 * IQR)]
print(outliers) #the result shows there is still anoutlier in this columns , we drop it

               Timestamp    GHI    DNI    DHI   ModA   ModB  Tamb    RH   WS  \
32129   2021-08-31 07:30    9.5    0.1    9.7   14.3   14.4  23.0  85.3  6.9
32131   2021-08-31 07:32   19.9    0.3   20.1   23.5   23.4  22.6  87.2  6.8
32134   2021-08-31 07:35   35.9    0.3   35.8   38.9   38.7  22.6  86.1  5.4
49421   2021-09-12 07:42   70.2    1.8   69.3   69.0   69.2  23.1  91.7  6.8
49422   2021-09-12 07:43   69.4    0.6   68.8   68.3   68.7  23.1  91.3  6.5
...                  ...    ...    ...    ...    ...    ...   ...   ...  ...
513534  2022-07-31 14:55  190.8    0.3  191.2  197.1  195.1  25.7  82.1  6.8
513535  2022-07-31 14:56  188.1    0.3  188.4  193.5  190.8  25.7  81.6  6.5
524766  2022-08-08 10:07  566.1  175.4  426.1  521.5  518.4  28.4  78.0  6.6
525118  2022-08-08 15:59    8.0    0.1    7.9    8.5    8.2  21.9  99.0  6.6
525142  2022-08-08 16:23    4.6    0.2    4.6    5.9    5.8  21.9  99.0  6.5

        WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  \
32129      8.7      1.1   69.3     12.1  999         0            0.0   22.4
32131      8.9      1.1   73.0     13.6  999         0            0.0   22.3
32134      8.7      1.2   72.0     17.4  999         0            0.0   22.3
49421      9.2      1.2  133.6      6.9  996         0            0.0   25.2
49422      8.9      0.8  134.8      7.0  996         0            0.0   25.1
...        ...      ...    ...      ...  ...       ...            ...    ...
513534     9.2      1.2   44.7     15.2  997         0            0.0   31.6
513535     9.2      1.5   47.1     14.7  997         0            0.0   31.5
524766     8.7      1.5  252.4     11.3  995         0            0.0   43.3
525118     8.7      1.1  130.7      8.9  995         0            0.3   22.7
525142     9.2      1.2  126.3     12.3  995         0            0.2   22.8

        TModB  Comments
32129    22.1       NaN
32131    21.9       NaN
32134    22.2       NaN
49421    24.6       NaN
49422    24.6       NaN
...       ...       ...
513534   28.3       NaN
513535   28.3       NaN
524766   38.8       NaN
525118   21.9       NaN
525142   22.0       NaN

[919 rows x 19 columns]

In [51]:
# Determine the bounds for outliers
l_bound = Q11 - 1.5 * IQR
up_bound = Q33 + 1.5 * IQR

# Drop outliers
df3_cleaned1 = df3_cleaned[(df['WSgust'] >= l_bound) & (df3_cleaned['WSgust'] <= up_bound)]

# Verify the result
print(df3_cleaned1)

               Timestamp   GHI  DNI   DHI  ModA  ModB  Tamb    RH   WS  \
414     2021-08-09 06:55  18.2  0.1  18.0  17.4  17.6  24.2  98.8  0.0
415     2021-08-09 06:56  19.7  0.3  19.5  18.7  18.9  24.2  98.8  0.0
416     2021-08-09 06:57  21.1  0.6  20.9  19.9  20.1  24.2  98.9  0.0
417     2021-08-09 06:58  22.5  1.1  22.2  21.1  21.3  24.2  98.9  0.0
418     2021-08-09 06:59  23.9  1.9  23.5  22.2  22.4  24.2  98.9  0.0
...                  ...   ...  ...   ...   ...   ...   ...   ...  ...
525131  2022-08-08 16:12   6.0  0.1   6.0   6.8   6.7  22.1  99.1  3.1
525135  2022-08-08 16:16   5.3  0.1   5.3   6.6   6.5  22.0  99.1  4.6
525144  2022-08-08 16:25   4.4  0.1   4.4   5.7   5.6  21.9  99.0  6.9
525152  2022-08-08 16:33   4.8  0.1   4.9   6.0   5.9  22.0  99.1  6.3
525166  2022-08-08 16:47   4.7  0.1   4.7   5.7   5.5  22.2  99.2  5.2

        WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  \
414        0.0      0.0    0.0      0.0  997         0            0.0   24.3
415        0.0      0.0    0.0      0.0  997         0            0.0   24.3
416        0.0      0.0    0.0      0.0  997         0            0.0   24.4
417        0.0      0.0    0.0      0.0  997         0            0.0   24.5
418        0.0      0.0    0.0      0.0  997         0            0.0   24.5
...        ...      ...    ...      ...  ...       ...            ...    ...
525131     4.1      0.7  129.9     14.9  995         0            0.3   22.8
525135     5.9      0.8  129.8     15.0  995         0            0.2   22.8
525144     8.2      0.9  137.2      6.5  995         0            0.1   22.7
525152     8.2      1.0  152.1     10.0  995         0            0.1   22.7
525166     5.9      0.5  147.7      9.0  994         0            0.0   22.9

        TModB  Comments
414      23.8       NaN
415      23.9       NaN
416      23.9       NaN
417      24.0       NaN
418      24.0       NaN
...       ...       ...
525131   22.1       NaN
525135   22.1       NaN
525144   22.0       NaN
525152   22.0       NaN
525166   22.2       NaN

[240898 rows x 19 columns]

C:\Users\Yibabe\AppData\Local\Temp\ipykernel_4100\2531185981.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3_cleaned1 = df3_cleaned[(df['WSgust'] >= l_bound) & (df3_cleaned['WSgust'] <= up_bound)]

In [ ]:
dd = pd.read_csv('')

In [ ]:
ddd = pd.read_csv('')